pandas>=2.0.0
numpy>=1.24.0
akshare>=1.18.60
yfinance>=1.3.0
streamlit==1.45.1
plotly>=5.20.0
PyYAML>=6.0.1
openpyxl>=3.1.0
requests>=2.31.0
urllib3>=2.0.0
lxml>=5.0.0
efinance>=0.5.8
markdown>=3.4.0
mootdx>=0.10
stockstats>=0.6.2
langchain-core
backtrader
langchain-anthropic
langchain-experimental
langchain-openai
langgraph
langgraph-checkpoint-sqlite
parsel
questionary
redis
rich
typer
fpdf2
python-dotenv
